<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobileoid2.celltone">

    <!-- READ and write data -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".Util.CelltoneApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <activity
            android:name=".view.activity.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity
            android:name=".view.activity.Login.LoginVerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.Login.LoginOtpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.VideoCapture"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <service
            android:name=".Service.ServiceCallScreenChanged"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service
            android:name=".FirebaseMessaging.MyMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service android:name=".FirebaseMessaging.MyFirebaseInsantanceId">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Service.NotificationListener"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mobileoid2.celltone.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_path" />
        </provider>

        <receiver
            android:name=".Reciever.ReceiverCall"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <!-- facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.PermissionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.HomeActivity"
            android:label="@string/title_activity_homemain"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <service
            android:name=".Service.OverlayShowingService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".view.activity.ViewAllSongActivity"
            android:label="@string/title_activity_homemain"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.PlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.OfferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.UploadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AbousUs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.QueryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.QueryListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.activity.ComposeQueryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.BannerListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.LanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.FAQActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.Tutorial"
            android:label="@string/title_activity_tutorial"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.OverlayActivity"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
             />
        <activity android:name=".view.activity.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"></activity>
    </application>

</manifest>